[submodule "themes/lanyon-hugo"]
	path = themes/lanyon-hugo
	url = https://github.com/tummychow/lanyon-hugo
[submodule "public"]
	path = public
	url = git@github.com:averi/dragonsreach.it
	branch = gh-pages
