<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/index.xml" />
    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta property="og:type" content="website" />
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}

    <main>
      <h1>Blog</h1>
      {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "posts").GroupByDate "2006" }}
        <h2>{{ .Key }}</h2>
        <ul>
          {{ range .Pages }}
            {{ if not .Params.draft }}
              <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}

      <a href="/index.xml">RSS Feed</a><br>
      <a href="/categories">Categories</a>
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
